@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*繼承CssReset、自動盒模型推擠*/
/*************************************************/
/* Google Fonts 思源體*/
body {
  background-color: #000000;
  color: #FFFFFF;
}

.wrap {
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
  max-width: 1296px;
}

.header {
  display: flex;
  padding: 20px 0px;
}
.header a img {
  flex-grow: 1;
  display: block;
  width: 245.99px;
  height: 40px;
}
.header ul {
  display: flex;
  justify-content: flex-end;
  flex-grow: 8;
}
.header ul li {
  flex-direction: column;
  margin-right: 20px;
}
.header .header_menu {
  display: none;
}

.header_title {
  font-style: normal;
  font-weight: 900;
  font-size: 120px;
  line-height: 1.2;
  padding: 40px 0px;
}

.header_cta {
  display: flex;
  width: 160px;
  align-items: center;
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  margin-bottom: 100px;
}
.header_cta a.btn {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.2;
}

.header_logo_r {
  text-align: right;
  margin-bottom: 160px;
}

nav .nav_title_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
nav .nav_title_info h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  margin-right: 24px;
}
nav .nav_title_info h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
}
nav .nav_card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 160px;
}
nav .nav_card_list .nav_card {
  border: 1px solid #525252;
  border-radius: 16px;
  max-width: 416px;
  height: 366px;
}
nav .nav_card_list .nav_card .nav_card_img {
  margin-bottom: 20px;
  padding: 80px 296px 0px 40px;
}
nav .nav_card_list .nav_card .nav_card_img img {
  width: 80px;
  height: 80px;
  display: block;
}
nav .nav_card_list .nav_card .nav_card_info h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
  padding: 0px 310px 0px 40px; /*多2px字體換行*/
  margin-bottom: 20px;
}
nav .nav_card_list .nav_card .nav_card_info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 40px;
}

article h4 {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.2;
}
article .article_logo1 .article_logo1_pic img {
  max-width: 160px;
}
article .article_logo2 {
  margin-bottom: 160px;
}
article .article_logo2 .article_logo2_pic img {
  max-width: 160px;
}
article .article_logo3_list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
article .article_logo3_list .article_logo3 {
  max-width: 416px;
  height: 400px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
  border-radius: 16px;
}
article .article_logo3_list .article_logo3 .article_logo3_img {
  padding: 40px 260px 0px 40px;
  margin-bottom: 20px;
}
article .article_logo3_list .article_logo3 .article_logo3_img img {
  width: 16px;
  height: 16px;
}
article .article_logo3_list .article_logo3 .article_logo3_info {
  flex-wrap: wrap;
}
article .article_logo3_list .article_logo3 .article_logo3_info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 40px;
}
article .article_logo3_list .article_logo3 .article_logo3_info .article_logo3_info_list {
  display: flex;
}
article .article_logo3_list .article_logo3 .article_logo3_info .article_logo3_info_list .article_logo3_info_a {
  padding: 40px 0px 40px 40px;
}
article .article_logo3_list .article_logo3 .article_logo3_info .article_logo3_info_list .article_logo3_info_b {
  padding: 40px 173px 40px 16px;
}
article .article_logo3_list .article_logo3 .article_logo3_info .article_logo3_info_list .article_logo3_info_b .article_logo3_info_b1 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
article .article_logo3_list .article_logo3 .article_logo3_info .article_logo3_info_list .article_logo3_info_b .article_logo3_info_b2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
article .Task1_Card {
  width: 100%;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 160px;
  margin-top: 160px;
  padding: 160px 15px;
  /*任務一    *********************/
  /*任務一    *********************/
}
article .Task1_Card h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 1.2;
  text-align: center;
  color: #020202;
  margin-bottom: 80px;
}
article .Task1_Card .search_key {
  width: 100%;
  background: #F2F2F2;
  border-radius: 16px;
  height: 64px;
  padding: 20px 40px 20px 76px;
  display: flex;
}
article .Task1_Card .search_key img {
  display: block;
}
article .Task1_Card .search_key #txt_search {
  display: block;
  background: #F2F2F2;
  width: 100%;
  border: 0px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
article .Task1_Card .search_menu {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 40px 0px;
  align-items: center;
}
article .Task1_Card .search_menu button {
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  padding: 20px 40px;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
article .Task1_Card .search_menu .search_menu_b .search_menu_b_list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
article .Task1_Card .search_menu .search_menu_b .search_menu_b_list li {
  padding: 8px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #919191;
}
article .Task1_Card .card_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px 24px;
}
article .Task1_Card .card {
  max-width: 380px;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
article .Task1_Card .img_container {
  width: 100%;
}
article .Task1_Card .img_container img {
  display: block;
}
article .Task1_Card .card_content {
  flex-grow: 1;
  padding: 10px 32px;
}
article .Task1_Card .card_content h3 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
  color: #020202;
  margin-bottom: 12px;
}
article .Task1_Card .card_content p {
  font-size: 14px;
  color: #525252;
  font-weight: 400;
  line-height: 1.5;
}
article .Task1_Card .card_info {
  display: flex;
  justify-content: space-between;
  border: 0px solid #F2F2F2;
  line-height: 1.5;
  font-size: 16px;
  padding: 10px 32px;
}
article .Task1_Card .card_info h4 {
  font-weight: 700;
  color: #020202;
  font-size: 16px;
}
article .Task1_Card .card_info p {
  font-weight: 400;
  color: #020202;
}
article .Task1_Card .card_tag {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border: 0px solid #F2F2F2;
  font-weight: 400;
  line-height: 1.5;
  color: #020202;
  padding: 10px 32px;
}
article .Task1_Card .share {
  text-decoration: none;
  color: black;
}
article .Task1_Card .page_num {
  text-align: end;
  margin-right: 60px;
}
article .Task1_Card .page_num a {
  text-decoration: none;
  color: #020202;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

footer h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}
footer .footer_cta {
  padding: 20px 32px;
  margin: 0 auto;
  width: 188px;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  margin-bottom: 180px;
}
footer .footer_cta a.btn {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.2;
  margin-right: 12px;
}
footer .footer_logo {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
footer .footer_logo .footer_logo_a .footer_list {
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 1.2;
}
footer .footer_end {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}
footer .footer_end .footer_end_a {
  flex-grow: 1;
}
footer .footer_end .footer_end_b {
  flex-grow: 8;
}
footer .footer_end .footer_end_c {
  flex-grow: 1;
  text-align: right;
}

/* mobile =========================================== */
@media screen and (min-width: 276px) and (max-width: 576px) {
  .header {
    display: flex;
    padding: 10px;
  }
  .header a img {
    flex-grow: 1;
    display: block;
    width: 188.99px;
    height: 40px;
  }
  .header ul li {
    display: none;
  }
  .header .header_menu {
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
  }
  .header .header_menu img {
    width: 18px;
    height: 12px;
  }
  .header_title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.2;
    padding: 40px 0px;
  }
  .header_logo_r {
    padding-right: 20px;
    margin-bottom: 160px;
    width: 100%;
  }
  .header_logo_r img {
    width: 100px;
    height: 100px;
  }
  nav .nav_title_info {
    display: block;
    margin-bottom: 48px;
  }
  nav .nav_title_info h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  nav .nav_title_info h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.2;
  }
  nav .nav_card_list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 160px;
  }
  nav .nav_card_list .nav_card {
    width: 100%;
  }
  nav .nav_card_list .nav_card .nav_card_img {
    padding: 80px 10px 0px 10px;
  }
  nav .nav_card_list .nav_card .nav_card_img img {
    width: 40px;
    height: 40px;
    display: block;
  }
  nav .nav_card_list .nav_card .nav_card_info h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.2;
    padding: 0px 20px;
    margin-bottom: 20px;
  }
  nav .nav_card_list .nav_card .nav_card_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 20px;
  }
  article .article_logo1 .article_logo1_pic {
    width: 100%;
  }
  article .article_logo2 .article_logo2_pic {
    width: 100%;
  }
  article .article_logo3_list .article_logo3 {
    width: 100%;
  }
  article .article_logo3_list .article_logo3 .article_logo3_img {
    padding: 40px 10px 0px 10px;
  }
  article .article_logo3_list .article_logo3 .article_logo3_info .article_logo3_info_list .article_logo3_info_b {
    padding: 40px 8px;
  }
  article .Task1_Card {
    width: 100%;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 160px;
    padding: 160px 15px;
    /*任務一    *********************/
  }
  article .Task1_Card h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 1.2;
    text-align: center;
    color: #020202;
    margin-bottom: 80px;
  }
  article .Task1_Card .search_key {
    width: 100%;
    background: #F2F2F2;
    border-radius: 16px;
    height: 64px;
    padding: 20px 20px;
    display: flex;
  }
  article .Task1_Card .search_key img {
    display: block;
  }
  article .Task1_Card .search_key #txt_search {
    display: block;
    background: #F2F2F2;
    width: 100%;
    border: 0px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  article .Task1_Card .search_menu {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 40px 0px;
    align-items: center;
    flex-wrap: wrap;
  }
  article .Task1_Card .search_menu button {
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    padding: 20px 40px;
    background-color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  article .Task1_Card .search_menu .search_menu_b .search_menu_b_list {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  article .Task1_Card .search_menu .search_menu_b .search_menu_b_list li {
    padding: 8px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #919191;
  }
  article .Task1_Card .card_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px 24px;
  }
  article .Task1_Card .card {
    max-width: 380px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  article .Task1_Card .img_container {
    width: 100%;
  }
  article .Task1_Card .img_container img {
    display: block;
  }
  article .Task1_Card .card_content {
    flex-grow: 1;
    padding: 10px 32px;
  }
  article .Task1_Card .card_content h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    color: #020202;
    margin-bottom: 12px;
  }
  article .Task1_Card .card_content p {
    font-size: 14px;
    color: #525252;
    font-weight: 400;
    line-height: 1.5;
  }
  article .Task1_Card .card_info {
    display: flex;
    justify-content: space-between;
    border: 0px solid #F2F2F2;
    line-height: 1.5;
    font-size: 16px;
    padding: 10px 32px;
  }
  article .Task1_Card .card_info h4 {
    font-weight: 700;
    color: #020202;
    font-size: 16px;
  }
  article .Task1_Card .card_info p {
    font-weight: 400;
    color: #020202;
  }
  article .Task1_Card .card_tag {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border: 0px solid #F2F2F2;
    font-weight: 400;
    line-height: 1.5;
    color: #020202;
    padding: 10px 32px;
  }
  article .Task1_Card .share {
    text-decoration: none;
    color: black;
  }
  footer h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px;
  }
  footer .footer_cta {
    padding: 20px 16px;
    margin: 0 auto;
    width: 188px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    margin-bottom: 180px;
  }
  footer .footer_cta a.btn {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.2;
    margin-right: 12px;
  }
  footer .footer_logo {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  footer .footer_logo .footer_logo_a {
    margin-top: 40px;
  }
  footer .footer_logo .footer_logo_a .footer_list {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.2;
  }
  footer .footer_logo .footer_logo_b img {
    width: 200px;
    height: 40px;
  }
  footer .footer_end {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0px;
  }
  footer .footer_end .footer_end_a {
    flex-grow: 1;
  }
  footer .footer_end .footer_end_b {
    flex-grow: 8;
  }
  footer .footer_end .footer_end_c {
    flex-grow: 1;
    text-align: right;
  }
}/*# sourceMappingURL=all.css.map */